<h1 class="header">Create Doctor</h1>
<form #createDoctorForm="ngForm" class="shadow p-3 mb-3 bg-white rounded" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
        <label class="mb-2">Doctor Name</label>
        <input type="text" class="form-control" #name="ngModel" [class.is-invalid]="name.invalid && name.touched"
            required name="name" [(ngModel)]="doctorModel.name" />
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Doctor Name is required</small>
    </div>
    <div class="form-group mb-3">
        <label class="mb-2">Age</label>
        <input type="text" class="form-control" name="age" #age="ngModel"
            [class.is-invalid]="age.invalid && age.touched" required [(ngModel)]="doctorModel.age" />
        <small class="text-danger" [class.d-none]="age.valid || age.untouched">Age is required</small>
    </div>

    <div class="form-group mb-3">
        <label for="gender" class="mb-2">Gender</label>
        <select id="gender" (change)="onGenderChange($event)" required #gender="ngModel"
            [class.is-invalid]="gender.invalid && gender.touched" class="custom-select form-control" name="gender"
            [(ngModel)]="doctorModel.gender">
            <option value="">select a Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <small class="text-danger" [class.d-none]="gender.valid || gender.untouched">Please select a Gender</small>
    </div>

    <div class="form-group">
        <label class="mb-2">Specialized Field</label>
        <input type="text" class="form-control" #field="ngModel"
            [class.is-invalid]="field.invalid && field.touched" required name="field"
            [(ngModel)]="doctorModel.field" />
        <small class="text-danger" [class.d-none]="field.valid || field.untouched">Field is
            required</small>
    </div>
    <button [disabled]="createDoctorForm.form.invalid" class="btn btn-primary mt-5 mb-3" type="submit">Create
        Doctor</button>
</form>